/* ******************* foot-top-wrap default widget style************************** */

/* archive *****************************/
.foot-top-wrap .widget_archive>ul>li {
    border: 1px solid #ddd;
    text-align: left;
    margin-bottom: 15px;
    padding: 10px 15px;
}

.foot-top-wrap .widget_archive>ul>li:last-child {
    margin-bottom: 0;
}

.foot-top-wrap select#archives-dropdown-2,
.foot-top-wrap select.postform,
.foot-top-wrap select#archives-dropdown--1,
.foot-top-wrap select#archives-dropdown-4,
.foot-top-wrap .widget_archive>ul>li {
    word-wrap: normal;
    width: 100%;
    padding: 10px;
    color: white;
}
.foot-top-wrap select#archives-dropdown--1,
.foot-top-wrap select.postform{
	color:#183344;
}
.foot-top-wrap .widget_archive>ul>li a{
	color:white;
}
/* wp-calendar ******************************/
.foot-top-wrap #wp-calendar tr td {
    border: 1px solid #eee;
    padding: 10px;
    text-align: center;
    font-size: 12px;

}

.foot-top-wrap #wp-calendar tr th {
    padding-bottom: 15px;
    text-align: center;
}

.foot-top-wrap #wp-calendar tr th:last-child,
.foot-top-wrap #wp-calendar tr td:last-child {
    color: red;
}
.foot-top-wrap .calendar_wrap table {
    width: 100%;
}
.foot-top-wrap #wp-calendar tr th,
.foot-top-wrap #wp-calendar tr td,
.foot-top-wrap #wp-calendar caption{
	color: white;
}


/* widget_categories ******************************/
.foot-top-wrap .widget_categories>ul>li {
    display: inline-block;
    margin-bottom: 5px;
    background-color: #333;
    padding: 5px 15px;
    text-align: center;
    margin-right: 2px;
    color: #fff;

}

.foot-top-wrap .widget_recent_entries>ul>li:last-child {
    border-bottom: none;
    margin-bottom: 0;
    padding-bottom: 0;
}

.foot-top-wrap .widget_categories>ul>li a {
    color: #fff;
}

.foot-top-wrap .widget_categories>ul>li a:hover {
    opacity: 0.5;
}

/* widget_pages **************************************/
.foot-top-wrap .widget_pages>ul>li,
.foot-top-wrap .widget_nav_menu .menu>li {
    border-bottom: 1px solid #f1f1f1;
    margin-bottom: 10px;
    padding-bottom: 10px;
    list-style: square;
    margin-left: 15px;
    color: white;
}
 .foot-top-wrap .widget_nav_menu .menu>li a{
 	color: white;
 }
.foot-top-wrap .widget_nav_menu .menu>li .sub-menu li a{
	position: relative;
	margin-top: 10px;
	display: block;
	color: white;
}
.foot-top-wrap .widget_nav_menu .menu>li .sub-menu li:before{

	background-color: #333;
	height: 6px;
	width: 6px;
	left: 0;
	top: 5px;
}
.foot-top-wrap .widget_pages>ul>li a{
	color: white;
}
.foot-top-wrap .widget_nav_menu .menu>li a:hover,
.foot-top-wrap .widget_pages>ul>li a:hover {
    opacity: 0.6;
}


/* rss-widget **************************************/
.foot-top-wrap .widget-title .rsswidget .rss-widget-icon {
    margin-right: 10px;
}

.foot-top-wrap .widget_rss>ul>li {
    margin-bottom: 30px;
}

.foot-top-wrap .widget_rss>ul>li .rsswidget {
    font-size: 16px;
    display: block;
}
.foot-top-wrap .widget_rss>ul>li a,
.foot-top-wrap .rssSummary,
.foot-top-wrap .widget_rss>ul>li cite{
	color: white;
}


.foot-top-wrap .widget_rss>ul>li .rss-date {
    font-size: 12px;
    color: #676767;
    margin-top: 10px;
}

.foot-top-wrap .widget_rss>ul>li .rssSummary {
    margin-top: 15px;
}

/* widget_meta **************************************/



.foot-top-wrap .widget_meta>ul>li {
    border: 1px solid #fff;
    display: inline-block;
    margin-right: 5px;
    margin-bottom: 5px;
}

.foot-top-wrap .widget_meta>ul>li>a {
    display: inline-block;
    padding: 5px 10px;
}

body.boxed .foot-top-wrap .widget_meta>ul>li,
body.framed .foot-top-wrap .widget_meta>ul>li,
body.wide .foot-top-wrap .widget_meta>ul>li {
    margin: 0px 0 15px 15px;
}

.foot-top-wrap .widget_meta .s-title {
    padding: 0;
}

.foot-top-wrap .widget_meta .side-tt {
    margin-bottom: 30px;
}

/* recentcomments******************************** */
.foot-top-wrap .recentcomments {
    position: relative;
    padding-left: 30px;
    display: block !important;
    border-bottom: 1px solid #eee;
    margin-bottom: 10px;
    padding-bottom: 10px;
    color:
}

.foot-top-wrap .recentcomments:before {
    position: absolute;
    content: '\f138';
    font-family: FontAwesome;
    left: 0px;
    top: 6px;
    color: white;
}

.foot-top-wrap .recentcomments:last-child {
    border-bottom: none;
    margin-bottom: 0;
    padding-bottom: 0;
}

.foot-top-wrap .recentcomments .comment-author-link {
    display: block;
    color: #fbbe1c;
    font-size: 16px;
    margin-bottom: 5px;
}

/* widget_recent_entries *****************************/

.foot-top-wrap .widget_recent_entries>ul>li {
    border-bottom: 1px solid #eee;
    background-color: #fff;
    margin-bottom: 10px;
    padding-bottom: 10px;
}

.foot-top-wrap .widget_recent_entries>ul>li a {
    padding: 5px;
    display: block;
    position: relative;
    padding-left: 30px;

}

body.boxed .foot-top-wrap .widget_recent_entries>ul>li a:before,
body.framed .foot-top-wrap .widget_recent_entries>ul>li a:before,
body.wide .foot-top-wrap .widget_recent_entries>ul>li a:before {
    left: 5px;
}

.foot-top-wrap .widget_recent_entries>ul>li a {
    padding-right: 5px;
}

.foot-top-wrap .widget_recent_entries>ul>li a:before {
    position: absolute;
    content: '\f138';
    font-family: FontAwesome;
    left: 0px;
    top: 3px;
}

.foot-top-wrap .widget_recent_entries>ul>li:last-child {
    border-bottom: none;
    margin-bottom: 0;
    padding-bottom: 0;
}

/* widget_search *****************************/

.foot-top-wrap .widget_search .search-form .search-field {
    border: 1px solid #eee;
    width: calc(100% - 60px);
    height: 45px;
    padding-left: 15px;
    position: relative;

}

.foot-top-wrap .widget_search .search-form .search-submit,
.foot-top-wrap .form-submit .submit,
.foot-top-wrap .widget_search .search-form #submit {
    height: 45px;
    background-color: #fff;
    text-transform: uppercase;
    border: 1px solid transparent;
    background-color: #333;
    color: #fff;
    cursor: pointer;
    transition: 0.5s ease all;
    position: absolute;
    font-size: 14px;
}

.foot-top-wrap .form-submit .submit {
    width: 150px;
}

.foot-top-wrap .comments-box-entry {
    margin-top: 60px;
}

.foot-top-wrap .widget_search .search-form .search-submit:hover,
.foot-top-wrap .form-submit .submit:hover {
    border: 1px solid #333;
    color: #333;
    background-color: #fff;
}

.foot-top-wrap .widget_search .search-form {
    margin-top: 60px;
}

/* widget_text *****************************/
.foot-top-wrap .widget_text .textwidget strong {
    display: block;
}

.foot-top-wrap .widget_text .textwidget {
    font-size: 16px;
    margin-bottom: 15px;

}
.foot-top-wrap  .widget_text  .textwidget h3{
    font-size: 18px;
}
.foot-top-wrap .widget_text .textwidget p,
.foot-top-wrap .widget_text .textwidget a{
    color:white;
}
.foot-top-wrap .textwidget img {
    margin-bottom: 30px;
}

.foot-top-wrap .widget_text select,
.foot-top-wrap .widget_text select option {
    width: 100%;
    max-width: 100%;
    height: 45px;
    padding-left: 15px;
    overflow-wrap: break-word;
    word-wrap: break-word;
    hyphens: auto;
}

.foot-top-wrap .wp-caption {
    margin-bottom: 30px;
}

.foot-top-wrap section#monster-widget-placeholder-12 .widget_text select option {
    width: 200px;
    overflow-wrap: break-word;
    word-wrap: break-word;
    hyphens: auto;
}

/* tagcloud *****************************/

.foot-top-wrap .widget_tag_cloud .tagcloud {
    background-color: #333;
    padding: 15px;
    color: #fff;
}

.foot-top-wrap .widget_tag_cloud .tagcloud a {
    color: #fff;
    border: 1px solid #fff;
    margin: 5px;
    padding: 5px 15px;
    display: inline-block;
    font-size: 14px !important;
}

/* gallery widget  ****************************/


.foot-top-wrap .gallery {
   margin-bottom: 0;
   margin-left: -2%;
}
.foot-top-wrap .gallery-item {
   display: inline-block;
   text-align: center;
   vertical-align: top;
   width: 100%;
   margin-bottom: 3%;
   margin-left: 2%;
}
.site-main .foot-top-wrap  .gallery a img {
   max-width: none;
   width: 100%;
}
.foot-top-wrap  .gallery-columns-2 .gallery-item {
   max-width: 47%;
}
.foot-top-wrap .gallery-columns-3 .gallery-item {
   max-width: 31.33%;
}
.foot-top-wrap .gallery-columns-4 .gallery-item {
   max-width: 23%;
}
.foot-top-wrap .gallery-columns-5 .gallery-item {
   max-width: 18%;
}
.foot-top-wrap  .gallery-columns-6 .gallery-item {
   max-width: 14.66%;
}
.foot-top-wrap  .gallery-columns-7 .gallery-item {
   max-width: 12.28%;
}
.foot-top-wrap  .gallery-columns-8 .gallery-item {
   max-width: 10.5%;
}
.foot-top-wrap  .gallery-columns-9 .gallery-item {
   max-width: 9.11%;
}
.foot-top-wrap  .gallery-caption {
   display: block;
}
