/*================================= 

Wordpress Default Style Here 

===================================*/

/* widget title **************************/
.widget {
    margin-bottom: 60px;
    background-color: #fff;
    padding: 5px;
}

.secondary-widget-area .widget ul li {
    margin-bottom: 0;
}

.widget a,
.widget ul li a,
.widget_tag_cloud .tagcloud a {
    color: #183244;
}

.widget a:hover,
.widget ul li a:hover,
.widget_tag_cloud .tagcloud a:hover {
    color: #e9b105;
}

.widget .side-tt.widget-title {
    font-size: 20px;
    text-transform: capitalize;
    font-weight: 700;
    font-family: Lato, sans-serif;
    margin-bottom: 15px;
    background-color: #eee;
    color: #000;
    padding: 5px;
}


.widget_meta ul,
.widget_rss ul,
.widget_pages ul,
.widget_meta ul,
.widget_archive ul,
.widget_nav_menu ul,
.widget_categories ul,
.widget_recent_entries ul,
.widget_recent_comments ul,
.widget_product_categories ul,
.woocommerce-widget-layered-nav ul {

    list-style: none;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

.widget_pages ul.children,
.widget_nav_menu ul.sub-menu,
.widget_product_categories ul.children {

    padding-top: 0;
    margin-top: 15px;
}

.widget_pages ul li,
.widget_nav_menu ul li,
.widget_archive ul li,
.widget_categories ul li,
.widget_product_categories ul li,
.woocommerce-widget-layered-nav ul li,
.widget_recent_comments ul li,
.widget_recent_entries li,
.widget_rss li {

    position: relative;
}

.widget_pages ul li,
.widget_meta ul li,
.widget_archive ul li,
.widget_nav_menu ul li,
.widget_categories ul li,
.widget_product_categories ul li,
.woocommerce-widget-layered-nav ul li,
.woocommerce .widget_rating_filter ul li,
.widget_recent_comments ul li,
.widget_recent_entries ul li,
.widget_rss ul li,
.woocommerce .woocommerce-widget-layered-nav-list .woocommerce-widget-layered-nav-list__item {

    align-items: baseline;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    padding: 10px 0;
    position: relative;
}

.woocommerce .woocommerce-widget-layered-nav-list {

    list-style: none;
}

.widget_rss>ul>li:first-child,
.widget_pages>ul>li:first-child,
.widget_meta>ul>li:first-child,
.widget_archive>ul>li:first-child,
.widget_categories>ul>li:first-child,
.widget_nav_menu ul.sub-menu li:first-child,
.widget_nav_menu>div>ul>li:first-child,
.widget_product_categories>ul>li:first-child,
.widget_pages ul.children li:first-child,
.widget_recent_comments>ul>li:first-child,
.widget_recent_entries>ul>li:first-child,
.widget_product_categories ul.children li:first-child,
.woocommerce-widget-layered-nav>ul>li:first-child,
.woocommerce .widget_rating_filter ul li:first-child,
.woocommerce .woocommerce-widget-layered-nav-list .woocommerce-widget-layered-nav-list__item:first-child {

    padding-top: 0;
}

.widget_rss>ul>li:last-child,
.widget_pages>ul>li:last-child,
.widget_meta>ul>li:last-child,
.widget_archive>ul>li:last-child,
.widget_categories>ul>li:last-child,
.widget_nav_menu ul.sub-menu li:last-child,
.widget_nav_menu>div>ul>li:last-child,
.widget_product_categories>ul>li:last-child,
.widget_pages ul.children li:last-child,
.widget_recent_comments>ul>li:last-child,
.widget_recent_entries>ul>li:last-child,
.widget_product_categories ul.children li:last-child,
.woocommerce-widget-layered-nav>ul>li:last-child,
.woocommerce .widget_rating_filter ul li:last-child,
.woocommerce .woocommerce-widget-layered-nav-list .woocommerce-widget-layered-nav-list__item:last-child {

    padding-bottom: 0;
    border-bottom: none;
}

.widget_nav_menu ul li a {

    position: relative;
}

.widget_nav_menu ul li a,
.widget_archive ul li a,
.widget_categories ul li a,
.widget_product_categories ul li a,
.woocommerce-widget-layered-nav ul li a {

    order: 1;
    border: none;
    color: #183244;
}

.widget_pages ul li a:hover,
.widget_nav_menu li a:hover,
.widget_archive ul li a:hover,
.widget_categories ul li a:hover,
.widget_product_categories ul li a:hover,
.woocommerce-widget-layered-nav ul li a:hover {

    background-color: transparent;
    color: #e9b105;
}

.widget_pages ul li::before,
.widget_nav_menu ul li::before,
.widget_archive ul li::before,
.widget_categories ul li::before,
.widget_product_categories ul li::before,
.woocommerce-widget-layered-nav ul li::before,
.woocommerce .woocommerce-widget-layered-nav-list .woocommerce-widget-layered-nav-list__item::before {

    content: "";
    flex-grow: 1;
    order: 2;
}

.widget_pages ul li .sub-menu>li>.sub-menu li,
.widget_nav_menu ul li .sub-menu>li>.sub-menu li {
    position: relative;
}

.widget_pages ul li .sub-menu>li>.sub-menu li:first-child:before,
.widget_nav_menu ul li .sub-menu>li>.sub-menu li:first-child:before {
    top: 3px;
}

.widget_archive ul li,
.widget_categories ul li,
.widget_product_categories ul li {
    position: relative;
    padding-left: 0px;
}

.widget_archive ul li:first-child::before,
.widget_product_categories ul li:first-child::before {
    top: 3px;
}

.woocommerce .woocommerce-widget-layered-nav-list .woocommerce-widget-layered-nav-list__item::before {

    content: '';
    display: inherit;
}

.woocommerce .woocommerce-widget-layered-nav-list .woocommerce-widget-layered-nav-list__item::after {

    content: '';
    display: none;
}

.widget_archive ul li .count,
.widget_categories ul li .count,
.widget_product_categories ul li .count,
.woocommerce .woocommerce-widget-layered-nav-list .woocommerce-widget-layered-nav-list__item span {

    order: 3;
    font-size: 90%;
}

.woocommerce .woocommerce-widget-layered-nav-list .woocommerce-widget-layered-nav-list__item span {

    padding: 0;
}

.widget_pages ul li ul,
.widget_nav_menu ul li ul,
.widget_archive ul li ul,
.widget_categories ul li ul,
.widget_product_categories ul li ul {

    order: 4;
    flex-grow: 0;
    flex-basis: 100%;
    margin-left: 15px;
}

.widget_pages ul li ul,
.widget_nav_menu ul li ul {
    margin-left: 5px;
}

.widget_pages ul li ul:nth-child(1),
.widget_pages ul li ul:nth-child(2),
.widget_pages ul li ul:nth-child(3),
.widget_pages ul li ul:nth-child(4),
.widget_pages ul li ul:nth-child(5) {
    margin-left: 15px;
}


.widget.widget_recent_entries li,
.widget.widget_recent_comments li,
.widget.widget_meta li {
    color: #000;
    line-height: 1.3;
    display: table;
    width: 100%;
    padding-bottom: 13px;
    border-bottom: 1px solid #eee;
}


/*Tags cloud****************************/

.widget_tag_cloud .tagcloud,
.widget_product_tag_cloud .tagcloud {

    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -ms-flex-preferred-size: auto;
    flex-basis: auto;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    overflow: hidden;
    margin: -5px -4px;

}

.widget_tag_cloud .tagcloud a,
.widget_product_tag_cloud .tagcloud a {
    background: #fff;
    color: #183244;
    padding: 5px 12px;
    margin-right: 1px;
    margin-bottom: 5px;
    display: flex;
    flex: 1;
    margin: 5px;
    border: 1px solid #eee;
    transition: all .3s;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    outline: none;
    font-size: 14px !important;
}

.widget_tag_cloud .tagcloud a:hover,
.widget_product_tag_cloud .tagcloud a:hover {
    background-color: #183244;
}



/*Archive widget****************************/


.widget_archive label {

    display: block;
    margin-bottom: 10px;
}



/*
=======================================
=
= Recent posts widget 
=
===============================================
*/

.widget_recent_entries .post-date {

    display: block;
    margin-top: 5px;
    padding-left: 0;
    font-size: 14px;
}

/*Recent recent comment*************************/


.widget_recent_comments ul li span {

    margin-right: 5px;
}

.widget_recent_comments ul li a {

    margin-left: 5px !important;
}

.comment-content h1,
.comment-content h2,
.comment-content h3,
.comment-content h4,
.comment-content h5 {
    margin-top: 15px;
}

/* Category widget**********************************/


.widget_categories label {

    display: block;
    margin-bottom: 10px;
}


/* menu item description at widget *******************/

.widget_nav_menu ul li a .menu-item-description {

    position: relative;
    left: auto;
    right: auto;
    bottom: auto;
    top: auto;
    font-size: 10px;
    padding-top: 1px;
    padding-bottom: 1px;
    margin-left: 10px;
}

.widget_nav_menu ul li a .menu-item-description::before {

    content: '';
    display: none;
}

/* menu item icon at widget */


.widget_nav_menu ul li a i {

    margin-right: 10px;
}

/* widget select */

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea {
    color: #183244;
    border: 1px solid #eee;
    padding: 6px 43px 6px 15px;
    -webkit-appearance: textfield;
    background: transparent;
}


.widget select {
    padding: 2px;
    line-height: 40px;
    height: 40px;
    vertical-align: middle;
    border-spacing: 0;
    clear: both;
    margin: 0;
    font-size: 14px;
    width: 100%;
    outline: none;
    background: transparent;
    color: #183244
}

.foot-top-wrap .widget select option {
    color: #183244;
}

/*Search widget *****************/


form.search-form,
.widget_search form,
.widget_product_search form,
.widget .search-form {
    display: block;
    position: relative;
    border-top: none;
    padding: 0;
    animation: none;
    box-shadow: none;
    background: transparent;
    width: 100%;
}

form.search-form label,
.widget_search form label,
form.search-form input[type="search"],
.widget_product_search form input[type="search"] {
    float: none;
    width: 100%;
    height: 43px;
}

form.search-form label {

    height: auto;
}

form.search-form input[type="search"],
.widget_product_search form input[type="search"] {

    padding-left: 15px;
    padding-right: 40px;
}

.search-form button,
form.search-form button[type="search"],
.widget_search form button[type="submit"],
.widget_product_search form button[type="submit"],
.widget .search-form input[type="submit"] {
    position: absolute;
    top: 0;
    padding: 0 10px;
    height: 43px;
    border: 1px solid #eee;
    border-radius: 0;
    right: 0;
    background-color: #eeeeee;
    font-size: 14px;
    color: #183244;
    transition: 0.5s ease all;
    border-left: 1px solid transparent;

}

.search-form button:hover,
form.search-form button[type="search"]:hover,
.widget_search form button[type="submit"]:hover,
.widget_product_search form button[type="submit"]:hover,
.widget .search-form input[type="submit"]:hover {

    background: #183244;
    color: #e9b105;
    border: 1px solid #183244;
    border-left: 1px solid transparent;
}

.search-form button:focus,
form.search-form button[type="search"]:focus,
.widget_search form button[type="submit"]:focus,
.widget_product_search form button[type="submit"]:focus,
.widget .search-form input[type="submit"]:focus {

    outline: none;
}

/*Calender widget**************************/


.calendar_wrap caption {

    background: transparent color: white;
    text-align: center;
    padding: 5px 0;
    font-weight: 500;
    text-transform: capitalize;
}

.calendar_wrap table {

    border-collapse: collapse;
    width: auto;
}

.calendar_wrap table th {

    font-weight: bold;
    padding: 8px 0px;
    text-align: center;
    width: 5%;
    border: 1px solid #eee;
}

.calendar_wrap table td {

    padding: 8px 0px;
    width: 5%;
    text-align: center;
}

.calendar_wrap table td#prev,
.calendar_wrap table td#next {

    text-align: left;
    padding-left: 10px;
    padding-right: 10px;
}

.calendar_wrap table td#next {

    text-align: right;
}





/* Text widget***************************/




.textwidget .textwidget strong,
.textwidget p,
.textwidget em,
.textwidget pre,
.textwidget code,
.textwidget h1,
.textwidget h2,
.textwidget h3,
.textwidget h4,
.textwidget h5,
.textwidget h6 {

    display: block;
    padding: 5px 0;
}

.textwidget img {

    display: block;
    padding: 5px 0;
}

.textwidget select {

    display: block;
    outline: none;
    width: 100%;
    max-width: 100%;
    padding: 10px;
    text-transform: capitalize;
    border-radius: 2px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.textwidget select option {

    display: block;
    width: 100%;
    max-width: 100%;
    white-space: nowrap;
}

/*WooCommerce stars widget*****************/


.woocommerce ul.product_list_widget li .star-rating {

    margin-bottom: 5px;
}

.woocommerce ul.product_list_widget li .star-rating,
.woocommerce.widget ul li .star-rating:before,
.woocommerce.widget ul li .star-rating span:before {

    font-size: 12px;
}


/*
========================================
=
= WooCommerce  Filter by price
=
====================================================
*/

.woocommerce .widget_price_filter .price_slider {

    margin-bottom: 30px;
}

.woocommerce .widget_price_filter .ui-slider-horizontal {

    height: 4px;
}

.woocommerce .widget_price_filter .ui-slider .ui-slider-handle {

    width: 10px;
    height: 10px;
    top: -3px;
}

.woocommerce .widget_price_filter .price_slider_amount .button {

    height: auto;
}


/*WooCommerce  cart widget**********************/

.woocommerce ul.cart_list,
.woocommerce ul.product_list_widget {

    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
}

.woocommerce .widget_shopping_cart .cart_list li,
.woocommerce.widget_shopping_cart .cart_list li,
.woocommerce ul.product_list_widget li {

    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
    position: relative;
    padding: 15px 0 15px 40px;
}


.woocommerce.widget_shopping_cart .cart_list li a.remove,
.mini-cart-open .woocommerce.widget_shopping_cart ul.cart_list li a.remove {
    position: absolute;
    top: 50%;
    left: 0;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    z-index: 5;

}

.woocommerce ul.cart_list li img,
.woocommerce ul.product_list_widget li img {

    width: 80px;
    float: left;
    margin-right: 15px;
    margin-left: 0;
}


.woocommerce .widget_shopping_cart .total,
.woocommerce.widget_shopping_cart .total {

    border: none;
    margin: 20px 0;
}

.woocommerce .widget_shopping_cart .total strong,
.woocommerce.widget_shopping_cart .total strong {

    font-weight: 600;
}



/*WooCommerce  product widget**********************/


.woocommerce ul.product_list_widget ins {

    background: transparent;
}

.woocommerce ul.product_list_widget li:last-child {

    border-bottom: none;
}

.woocommerce.widget_products ul.product_list_widget li,
.woocommerce.widget_top_rated_products ul.product_list_widget li,
.woocommerce.widget_recent_reviews ul.product_list_widget li {

    padding-top: 0;
    padding-bottom: 30px;
    margin-bottom: 30px;
}

.woocommerce.widget_products ul.product_list_widget li:last-child,
.woocommerce.widget_recent_reviews ul.product_list_widget li:last-child,
.woocommerce.widget_top_rated_products ul.product_list_widget li:last-child {

    margin-bottom: 0;
    padding-bottom: 0;
}

.widget .select2-container--default .select2-selection--single {

    height: 43px;
    padding: 0 20px 0 10px;
    -webkit-border-radius: 0;
    -o-border-radius: 0;
    -ms-border-radius: 0;
    border-radius: 0;
}

.widget .select2-container--default .select2-selection--single .select2-selection__rendered {

    line-height: 44px;
    padding: 0;
    margin: 0;
}

.widget .select2-container--default .select2-selection--single .select2-selection__placeholder {

    font-size: 16px;
    color: #000;
}

.widget .select2-container--default .select2-selection--single .select2-selection__arrow {

    top: 50%;
    right: 5px;
    -o-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    transform: translateY(-50%);
}

.widget .select2-container--default .select2-search--dropdown .select2-search__field {

    border-color: #eee;
}

.widget .select2-dropdown {

    border-color: #eee;
}

/* WooCommerce  Top rated products widget****************/


.woocommerce ul.product_list_widget li {

    padding-left: 0;
}



/* WooCommerce  filter by price widget*/

.woocommerce .widget_price_filter .price_slider_wrapper .ui-widget-content {

    background-color: #000;
}


/*WooCommerce  filter by rating*****************/

.woocommerce.widget_rating_filter ul li a {

    padding: 0;
}

/* Top footer default style**************************** */

/* widget title **************************/
.foot-top-wrap .widget {
    margin-bottom: 60px;
    background-color: transparent;
    padding: 5px;
    color: white;
}

.foot-top-wrap .widget ul li {
    margin-bottom: 0;
}

.foot-top-wrap .widget a,
.foot-top-wrap .widget ul li a,
.foot-top-wrap .widget_tag_cloud .tagcloud a {
    color: #fff;
    font-weight: inherit;
}

.foot-top-wrap .widget a:hover,
.foot-top-wrap .widget ul li a:hover,
.foot-top-wrap .widget_tag_cloud .tagcloud a:hover {
    color: #e9b105;
}

.foot-top-wrap .side-tt.widget-title {
    font-size: 20px;
    text-transform: capitalize;
    font-weight: 500;
    font-family: Lato, sans-serif;
    margin-bottom: 15px;
    color: #fff;
    padding: 5px;
}

.foot-top-wrap input[type="text"],
.foot-top-wrap input[type="email"],
.foot-top-wrap input[type="url"],
.foot-top-wrap input[type="password"],
.foot-top-wrap input[type="search"],
.foot-top-wrap input[type="number"],
.foot-top-wrap input[type="tel"],
.foot-top-wrap input[type="range"],
.foot-top-wrap input[type="date"],
.foot-top-wrap input[type="month"],
.foot-top-wrap input[type="week"],
.foot-top-wrap input[type="time"],
.foot-top-wrap input[type="datetime"],
.foot-top-wrap input[type="datetime-local"],
.foot-top-wrap input[type="color"],
.foot-top-wrap textarea,
.foot-top-wrap .textwidget p,
.foot-top-wrap .widget_recent_entries .post-date,
.foot-top-wrap .widget.widget_recent_comments li,
.foot-top-wrap .textwidget,
.foot-top-wrap .textwidget.custom-html-widget h4,
.foot-top-wrap .widget .gallery-caption,
.foot-top-wrap .calendar_wrap caption,
.foot-top-wrap form.search-form input[type="search"],
.foot-top-wrap .widget_product_search form input[type="search"],
.foot-top-wrap .widget_pages ul li .sub-menu>li>.sub-menu li:before,
.foot-top-wrap .widget_nav_menu ul li .sub-menu>li>.sub-menu li:before,
.foot-top-wrap .widget select {
    color: white;
}

.foot-top-wrap .widget_tag_cloud .tagcloud a {
    background-color: transparent;
}

.foot-top-wrap .widget select option {
    color: #183244;
}

.foot-top-wrap .widget_archive ul li::before,
.foot-top-wrap .widget_categories ul li::before,
.foot-top-wrap .widget_product_categories ul li::before {
    color: white;
}

.foot-top-wrap .widget_archive ul li,
.foot-top-wrap .widget_categories ul li,
.foot-top-wrap .widget_product_categories ul li {
    color: white;
}


/* Mid footer default style**************************** */

/* widget title **************************/
.footer-mid-sec .widget {
    margin-bottom: 60px;
    background-color: transparent;
    padding: 5px;
    color: white;
}

.footer-mid-sec .widget a,
.footer-mid-sec .widget ul li a,
.footer-mid-sec .widget_tag_cloud .tagcloud a {
    color: #fff;
    font-weight: inherit;
}

.footer-mid-sec .widget a:hover,
.footer-mid-sec .widget ul li a:hover,
.footer-mid-sec .widget_tag_cloud .tagcloud a:hover {
    color: #e9b105;
}

.footer-mid-sec .widget ul li {
    margin-bottom: 0;
}

.footer-mid-sec .side-tt.widget-title {
    font-size: 20px;
    text-transform: capitalize;
    font-weight: 500;
    font-family: Lato, sans-serif;
    margin-bottom: 15px;
    background-color: transparent;
    color: #fff;
    padding: 5px;
}

.footer-mid-sec input[type="text"],
.footer-mid-sec input[type="email"],
.footer-mid-sec input[type="url"],
.footer-mid-sec input[type="password"],
.footer-mid-sec input[type="search"],
.footer-mid-sec input[type="number"],
.footer-mid-sec input[type="tel"],
.footer-mid-sec input[type="range"],
.footer-mid-sec input[type="date"],
.footer-mid-sec input[type="month"],
.footer-mid-sec input[type="week"],
.footer-mid-sec input[type="time"],
.footer-mid-sec input[type="datetime"],
.footer-mid-sec input[type="datetime-local"],
.footer-mid-sec input[type="color"],
.footer-mid-sec textarea,
.footer-mid-sec .foot-top-border .side-tt .s-title,
.footer-mid-sec .textwidget p,
.footer-mid-sec .widget_recent_entries .post-date,
.footer-mid-sec .widget.widget_recent_comments li,
.footer-mid-sec .textwidget,
.footer-mid-sec .textwidget.custom-html-widget h4,
.footer-mid-sec .widget .gallery-caption,
.footer-mid-sec .calendar_wrap caption,
.footer-mid-sec form.search-form input[type="search"],
.footer-mid-sec .widget_product_search form input[type="search"],
.footer-mid-sec .widget_pages ul li .sub-menu>li>.sub-menu li:before,
.footer-mid-sec .widget_nav_menu ul li .sub-menu>li>.sub-menu li:before,
.footer-mid-sec .widget select {
    color: white;
}

.footer-mid-sec .widget_tag_cloud .tagcloud a {
    background-color: transparent;
}

.footer-mid-sec .widget select option {
    color: #183244;
}

.footer-mid-sec .widget_archive ul li::before,
.footer-mid-sec .widget_categories ul li::before,
.footer-mid-sec .widget_product_categories ul li::before {
    color: white;
}

.footer-mid-sec .widget_archive ul li,
.footer-mid-sec .widget_categories ul li,
.footer-mid-sec .widget_product_categories ul li {
    color: white;
}