@media (max-width: 1280px) {}

@media (max-width: 1200px) {
	.banner-caption .l-title {
    position: initial;
    transform: none;
    font-size: 30px;
	}
	.banner-caption .m-title,
	.author-name .s-title {
	    font-size: 22px;
	}
	.widget-tt .l-title, 
	.fl-mid-widget-area.design3 .widget-tt .l-title,
	.widget-tt .big-tt,
	.half-widget-area-inner .widget-tt .l-title {
	    font-size: 30px;
	}
	.fl-mid-widget-area.design3 .widget-tt .l-title{
		margin-top: 0;
	}
	.banner-wrapper .slide{
		height: 400px;
		margin-top: 30px;
	}

}

@media (max-width: 1024px) {

	.social-share-list{
		float: left;
	}
	.primary-widget-area .widget.text_widget {
    padding-top: 40px;
	}
	.primary-widget-area .text_widget .l-title {
	    font-size: 40px;
	}
	.primary-widget-area .text_widget .m-title {
	    font-size: 22px;
	}
	.fl-mid-widget-area .full-widget-d1 .full-content-bdy{
		margin-bottom: 30px;
	}
	.half-widget-d2 .half-content-bdy{
		display: block;
	}
	.half-widget-d2 .half-content-bdy .img-holder{
		width: 100%;
		margin-bottom: 30px;
	}
	.single-title,
	.single-related-post .widget-tt .l-title,
	.widget-tt .l-title,
	.single-layout1-bdy .single-title{
		font-size: 30px;
	}
}

@media (max-width: 992px) {

.main_navigation ul li.current_page_item a {
	padding: 15px 20px;
	}
.main_navigation ul li a {
    padding: 15px 8px;
    color: #183244;
    display: inline-block;
    font-size: 12px;
    text-transform: uppercase;
}
/* .search-icon {
    top: 6px;
} */
.archive-bdy-d1 {
    margin-bottom: 40px;
	}

	.not-found-wrap{
		background-position: center center;
	}

}

@media (max-width:767px) {
    .main_navigation {
      display: none;
      background-color: #183244;
      position: absolute;
      top: 54px;
      left: 0;
      width: 100%;
  }
	.mobile-search.search-icon{
		visibility: visible;
		right: 15px;
		top:1px;
	}

    .main_navigation ul li{
        display: block;
        border-bottom: 1px solid #fff;
    }
    span.sub-toggle.open{
        top: 0;
    }
.main_navigation ul li.menu-item-has-children ul.sub-menu li a,
.header-layout1 .main_navigation ul li.menu-item-has-children .sub-menu li a,
.main_navigation ul li.menu-item-has-children .sub-menu li.menu-item-has-children > .sub-menu li a,
.header-layout1 .main_navigation ul li.menu-item-has-children .sub-menu li.menu-item-has-children > .sub-menu li a{
    background-color: #e9b105;
     color:#fff;
     display: block;
}

    .main_navigation ul li a{
        display: block;
    }
    .main_navigation ul li.menu-item-has-children .sub-menu,
    .main_navigation ul li.menu-item-has-children .sub-menu li.menu-item-has-children > .sub-menu{
        position: initial;
        display: none;
        background-color: #e9b105;
        color:#fff;
    }
    .main_navigation ul li.menu-item-has-children .sub-menu li.menu-item-has-children > .sub-menu{
        width: 100%;
    }
.main_navigation ul li.menu-item-has-children ul.sub-menu li:hover a{
    color:#fff;
}
    .sub-toggle  i{
        display: block;
    }
	.archive-bdy-d2 .archive-content-bdy{
		display: block;
	}
	.archive-bdy-d2  .archive-detail-wrap1{
		margin-bottom: 30px;
	}
	.archive-bdy-d2 .archive-content-bdy{
		border-bottom: none;
	}
	.archive-bdy-d2 {
		    padding-bottom: 40px;
		}
	.archive-bdy-d2 .archive-content-bdy .img-holder{
		width: 100%;
		margin-bottom: 15px;
		margin-right: 0;
	}	
	.archive-bdy-d1 .nav-links.pagination.if-pagination{
		margin-top: 0;
	}
	
	/*archive page*/

	.header-layout2 .hamburger_inner,
	 .header-layout2 .hamburger_inner::before, 
	 .header-layout2 .hamburger_inner::after,
	.header-layout2 .hamburger_nb.active .hamburger_inner,
	.header-layout2 .hamburger_nb .hamburger_inner::before{
	 	background-color: #fff;
	 }
	 .banner-inner2{
	 	padding-top: 10px;
	 }

/*header-layout3*/

.top-social-icon,.top-bar-menu {
    text-align: center;
    margin-bottom: 10px;
}
.top-social-icon li a{
	border:none;
}
.top-social-icon li{
	margin-left: 5px;
	margin-right: 5px;
}
.top-social-icon li a{
	padding-right: 5px;
	padding-left: 5px;
}
	/*header-layout2*/

]

    .mobile_navigation {
        display: block;
    }

    .header {
        z-index: 77;
        width: 100%;
    }

    .logo-sec {
        position: relative;
        z-index: 78;
        margin: 00;
    }

    .hamburger {
        display: block;
        position: relative;
        z-index: 88;
        top: 0;
        right: 15px;
        float: left;
    }

    .navbar-toggle {
        z-index: 2;
        display: block;
    }

    /* default Header layout*/
    .logo-sec {
        margin: auto;
        max-width: 200px;
    }

    .header-top-block {
        margin-top: 15px;
        margin-bottom: 15px;
    }


    .header-medium-block {
        height: 54px;
        position: relative;
    }

    .primary-widget-area .widget.text_widget {
        padding-top: 32px;
    }

    .primary-widget-area .text_widget .l-title {
        font-size: 40px;
    }

    .lrg-padding {
        padding-top: 40px;
        padding-bottom: 40px;
    }

    /*banner section*/

    .banner-inner {
        margin-top: 30px;
    }

    .slick-arrow {
        border-color: #fff;
        color: #fff;
    }

    .banner-inner .slick-arrow {
        bottom: 15px;
    }

    .banner-caption {
        margin-top: 30px;
    }

    .has-pattern:before,
    .has-pattern:after {
        background-color: rgba(0, 0, 0, 0.1)
    }

    .banner-caption .l-title,
    .widget-tt .big-tt,
    .search-page .single-title {
        position: initial;
        ;
        transform: none;
        font-size: 30px;
    }

    .widget-tt .l-title,
    .fl-mid-widget-area.design3 .widget-tt .l-title {
        font-size: 30px;
        padding-left: 40px;
    }

    .fl-mid-widget-area.design3 .widget-tt .l-title {
        margin-top: 0;
    }

    .full-sec-less {
        margin-bottom: 30px;
    }

    .full-widget-d3-slide-wrap .slick-arrow {
        left: auto;
        right: 50px;
    }

    .full-widget-d3-slide-wrap .slick-arrow.next {
        left: auto;
        right: 0;
    }

    .full-sec-less.right .inner-detail {
        margin-bottom: 30px;
    }

    .banner-caption .l-title {
        opacity: 1;
    }

    .banner-caption .m-title,
    .primary-widget-area .text_widget .m-title {
        font-size: 22px;
    }

    .banner-inner:before {
        right: 0;
    }

    .banner-inner {
        padding: 30px;
    }

    .banner-img .slide {
        height: 300px;
    }

    .widget.abt-img-sec {
        margin-top: 30px;
    }

    .mid-banner-ad,
    .min-half-banner{
        margin-bottom: 40px;
    }

    /*full widget*/
    .full-widget-d1 .full-content-bdy {
        margin-top: 30px;
    }

    .trangle {
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        transform: none;
    }

    .full-sec-less.right,
    .fl-mid-widget-area.design3 .full-sec-less {
        padding: 0;
    }

    .abt-img-sec img {
        height: auto;
    }

    .slick-arrow {
        border-color: #183244;
        color: #183244;
    }

    .full-widget-d1.lrg-padding {
        padding-bottom: 80px;
    }

    .half-content-bdy{
        margin-bottom: 40px;
    }

    .full-widget-d1.lrg-padding {
        padding-top: 0;
    }

    .side-space,
    .side-advertise {
        padding-bottom: 40px;
    }

    .half-widget-area-inner .widget-tt .l-title,
    .single-page-layout2 .single-title {
        font-size: 30px;
    }

    .half-widget-d2 .half-content-bdy {
        display: block;
    }

    .half-widget-d2 .half-content-bdy .img-holder {
        width: 100%;
        margin-bottom: 15px;
    }
    .half-widget-d3 .half-content-bdy{
    	margin-bottom: 30px;
    }
    .social-media-foot ul li a {
	    height: 40px;
	    width: 40px;
	    line-height: 40px;
	}
	.social-detail {
	    max-width: 100%;
		}
	.social-media-foot ul li {
  		margin: 15px 7px;
	}
	.half-widget-left.half-widget-d3 {
   	 	padding-top: 40px;
	}
	.half-widget-area-inner.lrg-padding{
		padding-bottom: 0;
	}
	.footer-about-sec,
	.single-page-layout2-detail .single-page-detail{
		padding-bottom: 40px;
	}
	.newsletter-sec {
	    width: 100%;
	    margin: auto;
	    padding-bottom: 40px;
	    padding-left: 15px;
	    padding-right: 15px;
	}
 
}

@media (max-width: 480px) {
	.single-related-bdy{
		width: 100%;
		margin-bottom: 15px;
	}
	.single-related-wrap{
		margin-bottom: 10px;
	}
.search-again input[type="search"] {
    width: 250px;
}
.ex-large {
    font-size: 90px;
}
.mdm-padding {
    padding-top: 40px;
    padding-bottom: 40px;
}

}